#main {
  margin: 0;
  padding: 0;
  background-color: rgb(234, 241, 241);
}
.pic {
  width: 30%;
}
.right {
  float: right;
}
.top-body {
  padding: 2%;
}
.email {
  display: block;
  margin-top: 10%;
  color: white;
  background-color: brown;
  padding: 4%;
  width: 30%;
  margin: 7%;
}
a:hover {
  color: white;
}
a {
  text-decoration: none;
}
.h-5 {
  color: brown;
}
p {
  color: black;
  opacity: 75%;
}
.details {
  padding-top: 3%;
  margin: 8%;
}
.f {
  color: black;
}
